[submodule "base-image/meta-nodejs"]
	path = base-image/meta-nodejs
	url = https://github.com/resin-io-playground/meta-nodejs.git
[submodule "base-image/oe-core"]
	path = base-image/oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = krogoth
[submodule "base-image/bitbake"]
	path = base-image/bitbake
	url = git://git.openembedded.org/bitbake
