/node_modules/
/automation/node_modules/
/automation/meta-resin/
/meta-resin/
*.swp
/data/
bin/gosuper
gosuper/bin/

base-image/build/bitbake.lock
base-image/build/cache
base-image/build/downloads
base-image/build/sstate-cache
base-image/build/tmp-glibc

/build/
/dist/
tools/dind/config/
tools/dind/config.json*
tools/dind/apps.json
