/node_modules/
/automation/node_modules/
/automation/meta-balena/
/meta-balena/
*.swp
/data/
/build/
/dist/
# lock files for LibreOffice drawing
docs/.~lock*
tools/dind/config/
tools/dind/config.json*
tools/dind/apps.json
tools/dind/backup.tgz
test/data/**/config*.json
test/data/*.sqlite
test/data/led_file
/typedocs/
/coverage/
report.xml
.DS_Store
.tsbuildinfo
.prettierrc
.cache
