/node_modules/
/automation/node_modules/
/automation/meta-resin/
/meta-resin/
*.swp
/data/
/build/
/dist/
tools/dind/config/
tools/dind/config.json*
tools/dind/apps.json
test/data/config.json
test/data/config-apibinder.json
test/data/*.sqlite
test/data/led_file
/coverage/
report.xml
