{
	"*.coffee": [
		"resin-lint"
	],
	"*.ts$|!(*webpack.config).js$": [
		"resin-lint --typescript --fix",
	],
	"test/**/*.coffee": [
		"resin-lint --tests"
	],
	"test/**/*.ts": [
		"resin-lint --typescript --no-prettier --tests"
	],
}
