[Unit]
Description=resin-supervisor-dind
Requires=confd.service docker.service openvpn-resin.service
After=confd.service
Before=openvpn-resin.service

[Service]
WorkingDirectory=/usr/src/app
EnvironmentFile=/usr/src/app/config/env
EnvironmentFile=/usr/src/app/config/localenv
ExecStartPre=/bin/bash -c 'if [ "${PRELOADED_IMAGE}" -eq "true" ]; then /usr/bin/docker pull $(jq ".[0].imageId" ${APPS_PATH}); fi'
ExecStartPre=/usr/bin/docker pull ${SUPERVISOR_IMAGE}
ExecStartPre=-/usr/bin/docker kill resin_supervisor
ExecStartPre=-/usr/bin/docker rm resin_supervisor
ExecStartPre=-/bin/touch /etc/resolv.conf
ExecStart=/bin/bash -c 'source /usr/src/app/resin-vars && \
	/usr/bin/docker run --rm --privileged --name resin_supervisor \
	--net=host \
	-v /var/run/docker.sock:/run/docker.sock \
	-v "${CONFIG_PATH}:/boot/config.json" \
	-v "${APPS_PATH}:/boot/apps.json" \
	-v /resin-data/resin-supervisor:/data \
	-v /proc/net/fib_trie:/mnt/fib_trie \
	-v /var/log/supervisor-log:/var/log \
	-v /:/mnt/root \
	-v /etc/resolv.conf:/etc/resolv.conf:rw \
	-e "API_ENDPOINT=$API_ENDPOINT" \
	-e "REGISTRY_ENDPOINT=$REGISTRY_ENDPOINT" \
	-e "PUBNUB_SUBSCRIBE_KEY=$PUBNUB_SUBSCRIBE_KEY" \
	-e "PUBNUB_PUBLISH_KEY=$PUBNUB_PUBLISH_KEY" \
	-e "MIXPANEL_TOKEN=$MIXPANEL_TOKEN" \
	-e "LED_FILE=${LED_FILE}" \
	-e "LISTEN_PORT=$LISTEN_PORT" \
	-e "SUPERVISOR_IMAGE=${SUPERVISOR_IMAGE}" \
	-e "DBUS_SYSTEM_BUS_ADDRESS=unix:path=/mnt/root/run/dbus/system_bus_socket" \
	-e "RESIN_SUPERVISOR_SECRET=${RESIN_SUPERVISOR_SECRET}" \
	${SUPERVISOR_IMAGE}'
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=basic.target
